streamlit==1.40.0
numpy==1.26.4
matplotlib==3.7.1
netCDF4==1.7.2
h5netcdf==1.4.0
xarray==2023.5.0
shapely==2.0.1
#wheel==0.41.2
pyproj>=3.0.0
pyshp==2.3
cartopy==0.21.1
cython>=0.29.28
packaging>=21
proj==0.2.0
